html, body, #root, .App {
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#00bf86, #006a55);
}
.container {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px 80px 80px;
  grid-row-gap: 35px;
  grid-column-gap: 65px;
  justify-items: center;
}
.table {
  grid-row-start: span 4;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.table .total {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
}
.table .red {
  color: #e02828;
}
.table .green {
  color: #ff9800;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.player-active .income {
  box-shadow: 0px 0px 6px 4px #ffffff;
}

.player .sit-num {
  color: #ffffff;
}
.avatar {
  width: 1em;
  height: 1em;
  font-size: 46px;
}
.player .income {
  width: 70%;
  height: 20px;
  margin-top: 2px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.35);
  color: #ffffff;
  font-weight: bold;
  padding: 0 4px;
  font-size: 14px;
  text-align: center;
}

.dealer {
  grid-column-start: span 4;
}